.speakers {
  padding:33px 0 63px;
  overflow: hidden;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 112px;
  }

  &__item {
    max-width: 543px;
    background: #F7F7F7;
    border: 1px solid #7AB986;
    box-shadow: 0px 81.4197px 32.3591px rgba(0, 0, 0, 0.01), 0px 45.929px 27.1399px rgba(0, 0, 0, 0.02), 0px 20.8768px 20.8768px rgba(0, 0, 0, 0.03), 0px 5.21921px 11.4823px rgba(0, 0, 0, 0.04), 0px 0px 0px rgba(0, 0, 0, 0.04);
    border-radius: 29px;
    position: relative;
    padding: 24px 28px 30px 43px;
  }
  &__item-photo {
    position: absolute;
    width: 135px;
    height: 133px;
    border-radius: 100%;
    border: 1px solid #7AB986;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -5px;
    top: -37px;
    background-color: #FFFFFF;
    &::before {
      content: "";
      position: absolute;
      width: 150px;
      height: 64px;
      background-color: #FFFFFF;
      -webkit-transform: rotate(23deg);
      -ms-transform: rotate(23deg);
      transform: rotate(23deg);
      right: -21px;
      top: -1px;
      border-radius: 8px;
    }
  }
  &__item-avatar {
    border-radius: 100%;
    position: relative;
  }

  &__item-name {
    font-weight: 600;
    font-size: 25px;
    line-height: 148.52%;
    color: #000000;
  }

  &__list {
    font-size: 13.8818px;
    line-height: 194.52%;
    color: #646464;
    margin-top: 14px;
    
  }

  &__list-item {
    padding-left: 12px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      background: #8FCC9A;
      left: 0;
      border-radius:100%;
      top: 11px;
    }
  }

  &__item-link {
    display: inline-block;
    font-style: italic;
    font-weight: 500;
    font-size: 15.3228px;
    line-height: 148.52%;
    letter-spacing: 0.065em;
    color: #295C9B;
    margin-top: 11px;
  }
}